.jumbotron.bg-danger
  %h1 Всем привет
  %p Find me in app/views/static_pages/index.html.haml

  %button.btn.btn-primary{:type => "button"} Primary

.fab.fa-amazon

  = link_to 'Домой', root_path

  = link_to root_path, class: 'btn btn-primary' do
    .fa.fa-home
    Домой
